.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### VS Code ###
.vscode/

### Logs ###
logs/
*.log

### OS ###
.DS_Store
Thumbs.db
bin/
HELP.md

### Upload files ###
uploads/

### Env files ###
.env
application-local.yml
application-prod.yml
### Secret files ###
*.key
*.pem
